.transactionHistory {
  width: 100%;
}

.transactionHistory th {
  background-color: aquamarine;
  padding: 10px;
  text-align: left;
}

.transactionHistory td {
  padding: 10px;
  text-align: left;
}

.transactionHistory .titleRow td {
  font-weight: bold;
}

.transactionHistory tbody tr:nth-child(even) {
  background-color: lightgray;
}

.transactionHistory .dataRow td {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transactionHistory .dataRow td span {
  margin-right: 10px;
}
